.form-control-search{
  position: relative;
  .fa-search{
    position: absolute;
    top: 12px;
    left: 16px;
    color: gray;
  }
  input {
    padding-left: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .icon-clear{
    position: absolute;
    top: 12px;
    right: 16px;
    cursor: pointer;
  }
}
